.header-left {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 7vw;
}

.header-big {
  float: right;
}

.header-small {
  float: right;
}

h1 {
  background-color: #f2f2f2;
  margin-top: -8px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#main {
  background-color: yellow;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

#music:hover {
  background-color: yellow;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#musiclinkbig {
  text-decoration: none;
  color: black;
}

.btn {
  background-color: yellow;
  border: none;
  color: white;
  padding: 5vw 5vw;
  font-size: 7vw;
  cursor: pointer;
  margin-right: 5px;
  margin-top: -15px;
  border-radius: 40px;
}

.linksSmall {
  display: none;
  width: 100%;
  margin-left: -40px;
  list-style-type: none;
  text-align: center;
  font-size: 10vw;
}

#mainlink {
  background-color: yellow;
  color: black;
  margin-top: -20px;
  margin-left: -10px;
}

#musiclinksmall {
  text-decoration: none;
}

#musiclink {
  background-color: gray;
  color: white;
  margin-left: -10px;
}

#musiclink:hover {
  background-color: yellow;
  color: black;
}


@media screen and (min-width: 326px) {
  .header-small {
    display: none;
  }
  
}

@media screen and (max-width: 325px) {
  .header-big {
    display: none;
  }
  
  .linksSmall.active {
    display: block;
    margin-top: -32px;
    position: fixed;
    width: 110vw;
  }
}

