h1 {
  font-size: 80px;
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: -10px;
  background: -webkit-linear-gradient( red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
	background-color: #333333;
	color: yellow;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 10px;
  background: -webkit-linear-gradient( 45deg, #ff8c1a, #ffd1b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

table {
  font-size: 50px;
  background-color: #333333;
  padding-top: 10px;
  margin-right: 75px;
  margin-left: 140px;
  
}

#div1 {
  background-color: #333333;
}

#div2 {
  background-color: #333333;
  margin-left: 50px;
  margin-right: 50px;
}

p1 {
  color: #0086b3;
}

table:hover {
  transition: 1000ms;
  border-radius: 25px;
  padding-left: 75px; 
  padding-right: 75px;
}

html {
  background-image: url("https://image.freepik.com/free-photo/close-up-vinyl-record-black-background_23-2147889973.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}